<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coste.syncorg">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- TODO: look at this backup thing the above warning is talking about -->
    <application
        android:name=".orgdata.SyncOrgApplication"
        android:icon="@drawable/icon"
        android:label="SyncOrg"
        android:theme="@style/AppTheme.NoActionBar">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.coste.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
        <provider
            android:name=".orgdata.OrgProvider"
            android:authorities="com.coste.syncorg.orgdata.OrgProvider"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:label="SyncOrg"
            android:theme="@style/ActionModeAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="SyncOrg Settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OrgNodeDetailActivity"
            android:theme="@style/ActionModeAppTheme" />
        <activity
            android:name=".gui.wizard.WizardActivity"
            android:label="SyncOrg Wizard"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.coste.syncorg.Settings.SETUP_WIZARD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.CertificateConflictActivity"
            android:label="SyncOrg Certificate Conflict"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.FileDecryptionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".settings.synchronizers.WebDAVSettingsActivity"
            android:label="WebDAV Settings" />
        <activity
            android:name=".settings.synchronizers.SDCardSettingsActivity"
            android:label="SDCard Settings" />
        <activity
            android:name=".settings.synchronizers.ScpSettingsActivity"
            android:label="Scp Settings" />
        <activity
            android:name=".settings.synchronizers.UbuntuOneSettingsActivity"
            android:label="Ubuntu One Settings" />
        <activity
            android:name=".EditNodeActivity"
            android:theme="@style/ActionModeAppTheme" />
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask">
            <intent-filter>

                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-s93596hsuz5dwsj" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".gui.outline.ConflictResolverActivity" />
        <activity android:name=".gui.SearchActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".gui.wizard.wizards.SDCardWizard" />
        <activity android:name=".gui.wizard.wizards.GoogleDriveWizard" />
        <activity android:name=".gui.wizard.wizards.SSHWizard" />
        <activity android:name=".gui.wizard.wizards.ExternalSyncWizard" />
        <activity android:name=".gui.wizard.wizards.WebDAVWizard" />
        <activity android:name=".directory_chooser.DirectoryChooserActivity" />
        <activity android:name=".directory_chooser.FolderPickerActivity" />
        <activity android:name=".services.PermissionManagerActivity" />
        <activity android:name="com.coste.google_drive.FolderPicker" />
        <activity
            android:name=".ErrorReportActivity"
            android:label="@string/title_activity_error_report">
            <intent-filter>
                <action android:name="com.coste.syncorg.SYNC_FAILED" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.MainActivity2"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>